server:
  port: 8080
spring:
  application:
    name: rpm-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: customer-service
              uri: lb://customer-service
              predicates:
                - Path=/customers/**
              filters:
                - StripPrefix=1

            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1
          discovery:
            locator:
              enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:9000/eureka/}
    registry-fetch-interval-seconds: 30

  instance:
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90

jwt:
  secret: ${JWT_SECRET:my-super-secret-key-should-be-very-long-and-secure}
