spring:
  application:
    name: RPM Discovery server

server:
  port: 9000
  
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false


